@import url('https://fonts.font.im/css2?family=Noto+Serif+SC&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Sans+Mono&display=swap');

* {
	font-family: 'Noto Serif SC', serif;
	margin: 0;
	padding: 0;
	color: #2286D8;
}

body {
	background-color: #EFF5FB;
}

h1 {
	background-color: #2286D8;
	color: #EFF5FB;
	padding: 20px;
	margin-top: 20px;
}

h2 {
	border-left: 5px solid #2286D8;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	margin: 20px;
}

h3 {
	font-size: 17.5px;
	font-style: italic;
	padding-left: 22.5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
}

code,
pre {
	font-family: 'Noto Sans Mono', sans-serif;
	background-color: #e1e1e1;
	padding: 0 3px;
	border-radius: 2.5px;
}

pre,
p,
code,
blockquote {
	font-size: 15px;
}

pre,
p,
blockquote {
	margin: 22.5px;
}

pre {
	width: fit-content;
	white-space: normal;
}

pre code {
	padding: 0;
}

li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 8px;
}

blockquote {
	background-color: #A3D1FF;
	border-left: 5px solid #2286D8;
	padding: 10px;
	width: fit-content;
	white-space: pre-line;
	border-radius: 5px;
}
blockquote.warning {
	background-color: #FFA3A3;
	border-color: #d82222;
	color: #d82222;
}

blockquote.tip {
	background-color: #FFF0A3;
	border-color: #d8c122;
	color: #d8c122;
}

li a {
	display: inline-block;
	text-align: center;
	padding: 18px 20px;
	text-decoration: none;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
}

li a:hover {
	background-color: #2286D8;
	color: #EFF5FB;
}

img {
	margin: auto;
	border-radius: 7.5px;
}

.footer {
	text-align: center;
	font-family: 'Noto Sans Mono', sans-serif;
	font-weight: bold;
}

.l,
.s {
	text-align: center;
}

.l img {
	width: 50%;
}

.s img {
	width: 20%;
}

@media screen and (max-width: 600px)
/* 小屏幕的样式 */
	{
	h1 {
		padding: 15px;
	}


	h2 {
		font-size: 15px;
		font-weight: bold;
		padding-left: 10px;
		margin: 15px;
	}

	h3 {
		font-size: 12.5px;
		font-style: italic;
		padding-left: 17.5px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 12px;
	}

	blockquote {
		margin: 20px;
		padding: 10px;
	}

	pre,
	p,
	code,
	blockquote {
		font-size: 10px;
	}

	pre,
	p,
	blockquote {
		margin: 12.5px;
	}

	pre code {
		padding: 0;
	}

	code,
	pre {
		font-family: 'Noto Sans Mono', sans-serif;
		background-color: #e1e1e1;
		padding: 0 3px;
		border-radius: 3px;
	}

	img {
		margin: auto;
		border-radius: 5px;
	}

	li {
		display: inline-block;
		margin-right: 15px;
		margin-top: 6px;
	}

	li a {
		display: inline-block;
		text-align: center;
		padding: 12px 13.5px;
		text-decoration: none;
		border-radius: 7.5px;
		transition: all 0.3s ease-in-out;
	}

	li a:hover {
		background-color: #2286D8;
		color: #EFF5FB;
	}
}

@media (prefers-color-scheme: dark) {
	* {
		color: #A3D1FF;
	}

	body {
		background-color: #131E29;
	}

	li a:hover {
		background-color: #A3D1FF;
		color: #155284;
	}

	code,
	pre {
		background-color: #1a1a1a;
	}

	blockquote {
		background-color: #155284;
		border-left: 5px solid #A3D1FF;
	}

	blockquote.warning {
		background-color: #841515;
		border-color: #ffa3a3;
		color: #841515;
	}

	blockquote.tip {
		background-color: #847215;
		border-color: #fff0a3;
		color: #847215;
	}
}