@import url('https://fonts.font.im/css2?family=Noto+Serif+SC&display=swap');
@import url('https://fonts.font.im/css2?family=Noto+Sans+Mono&display=swap');

* {
	font-family: 'Noto Serif SC', serif;
	margin: 0;
	padding: 0;
	color: #2286D8;
}
body {
	background-color: #EFF5FB;
}

h1 {
	background-color: #2286D8;
	color: #EFF5FB;
	padding: 20px;
	margin-top: 20px;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
}

h3 {
	font-size: 17.5px;
	font-style: italic;
	padding-left: 22.5px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
}

code,.long {
	font-family: 'Noto Sans Mono', sans-serif;
	background-color: #e1e1e1;
	padding: 0 3px;
	border-radius: 2.5px;
}

.long,p,code {
	font-size: 15px;
}

.long,p {
	margin: 22.5px;
}
.long{
	width: fit-content;
}
.long code {
	padding: 0;
}
li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 8px;
}

li a {
	display: inline-block;
	text-align: center;
	padding: 18px 20px;
	text-decoration: none;
	border-radius: 10px;
	transition: all 0.3s ease-in-out;
}

li a:hover {
	background-color: #2286D8;
	color: #EFF5FB;
}

img {
	margin: auto;
	border-radius: 7.5px;
}

.footer {
	text-align: center;
	font-family: 'Noto Sans Mono', sans-serif;
	font-weight: bold;
}

.l,.s {
	text-align: center;
}

.l img {
	width: 75%;
}

.s img {
	width: 30%;
}

@media screen and (max-width: 600px) /* 小屏幕的样式 */ {
	h1 {
		padding: 15px;
	}


	h2 {
		font-size: 15px;
		font-weight: bold;
		padding-left: 15px;
	}

	h3 {
		font-size: 12.5px;
		font-style: italic;
		padding-left: 17.5px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 12px;
	}

	.long,p,code {
		font-size: 10px;
	}

	.long,p {
		margin: 12.5px;
	}

	.long code {
		padding: 0;
	}

	code,.long {
		font-family: 'Noto Sans Mono', sans-serif;
		background-color: #e1e1e1;
		padding: 0 3px;
		border-radius: 3px;
	}

	img {
		margin: auto;
		border-radius: 5px;
	}

	li {
		display: inline-block;
		margin-right: 15px;
		margin-top: 6px;
	}

	li a {
		display: inline-block;
		text-align: center;
		padding: 12px 13.5px;
		text-decoration: none;
		border-radius: 7.5px;
		transition: all 0.3s ease-in-out;
	}

	li a:hover {
		background-color: #2286D8;
		color: #EFF5FB;
	}
}
@media (prefers-color-scheme: dark) {
	*{
		color: #A3D1FF;
		background-color: #131E29;
	}
	li a:hover {
		background-color: #A3D1FF;
		color: #155284;
	}
	code,.long{
		background-color: #1a1a1a;
	}
  }