/* 样式 */
/* 原https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap */
@import url('https://sstars.us.kg/html/fonts/Noto-Serif-SC.css');
@import url('https://sstars.us.kg/html/fonts/Noto-Sans-Mono.css');
body {
	font-family: 'Noto Serif SC', serif;
	margin: 0;
	padding: 0;
	color: blue;
	background-color: #EFF5FB;
}
h1 {
	background-color: #2286D8;
	color: #EFF5FB;
	padding: 20px;
}
h2,h3,p,code {
	color: #2286D8;
}
h2{
	font-size: 20px;
	font-weight: bold;
	padding-left: 20px;
}
h3{
	font-size: 17.5px;
	font-style: italic;
	padding-left: 22.5px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 20px;
}
code,.long {
	font-family: 'Noto Sans Mono', sans-serif;
	background-color: #e1e1e1;
	padding: 0 3px;
	border-radius: 2.5px;
}
.long {
	margin: 22.5px;
}
p {
	margin: 22.5px;
	font-size: 15px;
}
li {
	display: inline-block;
	margin-right: 20px;
	margin-top: 8px;
}
li a {
	display: inline-block;
	color: #2286D8;
	text-align: center;
	padding: 18px 20px;
	text-decoration: none;
	border-radius: 10px;
	transition: all 0.3s ease-in-out; 
}
li a: hover {
	background-color: #2286D8;
	color: #EFF5FB;
}
img{
	text-align: center;
	margin: auto;
	border-radius: 7.5px;
}
l.img{
	width:75%;
}
s.img{
	width:30%;
}
 @media screen and (max-width: 600px) /* 小屏幕的样式 */
 {
h1 {
	background-color: #2286D8;
	color: #EFF5FB;
	padding: 15px;
}
h2,h3,p,code {
	color: #2286D8;
}
h2{
	font-size: 15px;
	font-weight: bold;
	padding-left: 15px;
}
h3{
	font-size: 12.5px;
	font-style: italic;
	padding-left: 17.5px;
}
ul {
	list-style-type: none; 
	margin: 0; 
	padding: 12px; 
}
p { 
	margin: 12.5px;
	font-size: 10px;
}
.long {
	margin: 12.5px;
}
code,.long {
	font-family: 'Noto Sans Mono', sans-serif;
	background-color: #e1e1e1;
	padding: 0 3px;
	border-radius: 3px;
}
img{
	text-align: center;
	margin: auto;
	border-radius: 5px;
}
l.img{
	width: 75%;
}
s.img{
	width: 30%;
}
	 
li { 
	display: inline-block; 
	margin-right: 15px; 
	margin-top: 6px;
}
li a { 
	display: inline-block; 
	color: #2286D8; 
	text-align: center; 
	padding: 12px 13.5px; 
	text-decoration: none; 
	border-radius: 7.5px; 
	transition: all 0.3s ease-in-out;  
}
li a: hover { 
	background-color: #2286D8; 
	color: #EFF5FB; 
}
}
