/*样式*/
@import url('https://sstars.us.kg/html/fonts/Noto-Serif-SC.css');
body {
    font-family: 'Noto Serif SC', serif;
    margin: 0;
    padding: 0;
    color: #2286D8;
    background-color: #EFF5FB;
     }
h1 {
    background-color: #2286D8;
    color: #EFF5FB;
    padding: 20px;
}
p {
    margin: 20px;
  }
@media screen and (max-width: 600px) /* 小屏幕的样式 */{
h1 {
    background-color: #2286D8;
    color: #EFF5FB;
    padding: 15px;
}
p {
    margin: 15px;
  }
}
@media (prefers-color-scheme: dark) {
  body{
      color: #A3D1FF;
      background-color: #131E29;
  }
  li a {
      color:#A3D1FF;
  }
  li a:hover {
      background-color: #A3D1FF;
      color: #155284;
  }
}