@charset "utf-8";

@import url('https://sstars.us.kg/html/fonts/Noto-Serif-SC.css');
@import url('https://sstars.us.kg/html/fonts/Noto-Sans-Mono.css');

@import "home.css";
@import "https://sstars.us.kg/write/css/twikoo.css";

.img img {
    width: 60%;
}

header *,
.footer{
    text-align: center;
}
.footer {
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: bold;
}

#cen {
    display: inline-block;
    position: relative;
    font-size: 15px;
    color: #2286D8;
    height: 15px;
    text-align: center;
}

#cen::after {
    content: '';
    position: absolute;
    top: 5px;
    right: -5px;
    height: 15px;
    width: 2px;
    animation: san 0.5s steps(1) infinite;
}
.header {
    height: 75px;
}
@keyframes san {
    0%,
    100% {
        background-color: #2286D8;
    }

    50% {
        background-color: transparent;
    }
}
@media screen and (max-width: 600px){
    .img img{
        width: 80%;
    }
}
@media (prefers-color-scheme: dark){
#cen {
    color: #2286D8;
}
}