@charset "utf-8";

@import url('https://sstars.us.kg/html/fonts/Noto-Serif-SC.css');
@import url('https://sstars.us.kg/html/fonts/Noto-Sans-Mono.css');

@import "home.css";
@import "https://sstars.us.kg/write/css/twikoo.css";

.img {
    text-align: center;
}

img {
    width: 50%;
}

.footer {
    text-align: center;
    font-family: 'Noto Sans Mono', sans-serif;
    font-weight: bold;
}

#cen {
    display: inline-block;
    position: relative;
    font-size: 15px;
    color: #2286D8;
    height: 15px;
}

#cen::after {
    content: '';
    position: absolute;
    top: 2px;
    right: -5px;
    height: 15px;
    width: 2px;
    animation: san 0.5s steps(1) infinite;
}
.header {
    height: 55px;
}
@keyframes san {
    0%,
    100% {
        background-color: #2286D8;
    }

    50% {
        background-color: transparent;
    }
}