/* 样式 */
/* 原https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap */
@import url('https://fonts.font.im/css2?family=Noto+Serif+SC&display=swap');

* {
  font-family: "Noto Serif SC", serif;
  margin: 0;
  padding: 0;
  color: #2286d8;
  background-color: #eff5fb;
}

h1 {
  background-color: #2286d8;
  color: #eff5fb;
  padding: 20px;
  margin-top: 20px;
}

h2,
.min,
.more {
  font-weight: bold;
}

h2 {
  padding-left: 20px;
  font-size: 20px;
}

.more {
  font-size: 15px;
}

.min {
  font-size: 18px;
}

.min,
.more {
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

p {
  margin: 20px;
}

li {
  display: inline-block;
  margin-right: 20px;
  margin-top: 8px;
}

li a {
  display: inline-block;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

li a:hover {
  background-color: #2286d8;
  color: #eff5fb;
}

#cen {
  margin: 20px;
}


@media screen and (max-width: 600px) {
  h1 {
    padding: 15px;
    margin-top: 15px;
  }

  h2 {
    padding: 15px;
    font-size: 15px;
  }

  .min {
    font-size: 13.5px;
  }

  ul {
    padding: 12px;
  }

  p {
    margin: 15px;
  }

  li {
    margin-right: 15px;
    margin-top: 6px;
  }

  li a {
    padding: 12px 13.5px;
    border-radius: 7.5px;
  }

  #cen {
    margin: 15px;
  }
}

@media (prefers-color-scheme: dark) {
  * {
    color: #a3d1ff;
    background-color: #131e29;
  }

  li a:hover {
    background-color: #a3d1ff;
    color: #155284;
  }
}