@import url('https://xbcen.github.io/html/fonts/Noto-Serif-SC.css');
/* 样式 */
body {
    font-family: 'Noto Serif SC', serif;
    margin: 0;
    padding: 0;
    color: blue;
    background-color: #EFF5FB;
}

h1 {
    background-color: #2286D8;
    color: #EFF5FB;
    padding: 20px;
}

h2,a {
    color: #2286D8;
    font-weight: bold;
    font-size: 20px;
}

h2,ul {
   padding-left: 20px;
}

ul {
   list-style-type: none;
}

textarea#userUrls {
    border: 2px solid #2286D8; 
    background-color: #EFF5FB; 
    border-radius: 10px; 
    padding: 20px 30px; 
    margin: 0 auto;
    display: block;
    font-size: 20px;  
    color: #2286D8;  
    font-family: 'Noto Serif SC', serif;
    transition: all 0.2s ease-in-out;
    width: 90%;
    height: 300px;
    resize: vertical;
}

textarea#userUrls::placeholder {
    color: #2286D8;
}

textarea#userUrls:focus {
    background-color: #2286D8; 
    outline: none;
    color: #EFF5FB;  
    border: 2px solid #2286D8; 
}

textarea#userUrls:focus::placeholder {
    color: #EFF5FB;
}

button {
    background-color: #EFF5FB;
    color: #2286D8;
    text-align: center;
    padding: 20px 30px;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    font-family: 'Noto Serif SC', serif;
    font-size: 16px; 
    border: none;
    margin: 20px;
}

button:hover {
    color: #EFF5FB;
    background-color: #2286D8;
}

.centered {
    display: flex; 
    justify-content: center; 
}

@media screen and (max-width: 600px) {  /* 小屏幕的样式 */
h1 {
    background-color: #2286D8;
    color: #EFF5FB;
    padding: 15px;
}

h2,a {
    color: #2286D8;
    font-weight: bold;
    font-size: 15px;
}

h2,ul {
   padding-left: 15px;
}

ul {
   list-style: none;
}

textarea#userUrls {
    border: 2px solid #2286D8; 
    background-color: #EFF5FB; 
    border-radius: 7.5px; 
    padding: 15px 22.5px; 
    margin: 15px;
    font-size: 20px;  
    color: #2286D8;  
    font-family: 'Noto Serif SC', serif;
    transition: all 0.2s ease-in-ut;
    width: 67.5%;
    height: 300px;
}

textarea#userUrls::placeholder {
    color: #2286D8;
}

textarea#userUrls:focus {
    background-color: #2286D8; 
    outline: none;
    color: #EFF5FB;  
    border: 2px solid #2286D8; 
}

textarea#userUrls:focus::placeholder {
    color: #EFF5FB;
}

button {
    background-color: #EFF5FB;
    color: #2286D8;
    text-align: center;
    padding: 15px 22.5px;
    border-radius: 7.5px;
    transition: all 0.2s ease-in-out;
    font-family: 'Noto Serif SC', serif;
    font-size: 12px;
    border: none;
    margin: 15px;
}

button:hover {
    color: #EFF5FB;
    background-color: #2286D8;
}

.centered {
    display: flex; 
    justify-content: center; 
}
